<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tbecker012.soccermomsapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ScoreboardActivity"
            android:launchMode="singleInstance"/>

        <activity
            android:name=".RosterPageActivity"
            android:label="@string/title_activity_roster_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DirectoryActivity"
            android:label="@string/title_activity_directory"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GoalActivity"
            android:label="@string/title_activity_goal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EventsPageActivity"
            android:label="@string/title_activity_events_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddEventsActivity"
            android:label="@string/title_activity_add_events"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddRosterActivity"
            android:label="@string/title_activity_add_roster"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".TeamPreferencesActivity"
            android:label="@string/title_activity_team_preferences"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShareActivity"
            android:label="@string/title_activity_share"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>